# dependencies
node_modules

# production
dist
dist-ssr
dev-dist

# misc
.DS_Store
.nitro
.tanstack
.idea
certificates

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.development
.env*.local
*.local

# typescript
*.tsbuildinfo